body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin: 50px;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
.container {
  --columns: 12;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.column {
  --width: 0;
  background-color: rgb(185, 184, 185);
  border: rgb(58, 56, 57) 2px solid;
  border-radius: 8px;
  padding: 16px;
  flex-basis: calc(var(--width) / var(--columns) * 100%);
}

.header {
  --width: 12;
  height: 8rem;
}
